body{
    margin: 0;
    font-family: sans-serif;
    background-color: grey;
}
.centered-content {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the content inside the container */
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}