body{
    margin: 0;
    font-family: sans-serif;
    background-color: grey;
}
.centered-content {
    width: 60%; /* Adjust the width as needed */
    margin: 10px auto; /* Center the container horizontally */
    text-align: center; /* Center the content inside the container */
}
/* Style for the header and navbar */
header {
    background-color: #333; /* Background color of the header */
    color: #fff; /* Text color in the header */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Style for the profile link */
.profile a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style for the navigation links */
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px; /* Spacing between navigation links */
}

/* Style for navigation link text */
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Hover effect for navigation links */
.nav-links a:hover {
    color: #00A859; /* Change to green color on hover */
}

.scrollable-div {
    overflow: auto; /* Add scrollbars when content exceeds the height */
    border: 1px solid #ccc; /* Optional border for styling */
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Style for rectangular buttons with rounded corners */
.button {
    display: inline-block;
    padding: 0 4px 0 0; /* Increase padding for larger buttons */
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #466297;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center; /* Center the button text */
    margin: 0 0px 10px 0; /* Center the button within its container */
    height: 30px;
    width: 80px;
}

/* Hover effect for all buttons */
.button:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}
/* Hover effect for updating and deleting buttons */
.update-button:hover {
    background-color: #4aa179; /* Change to green color on hover */
    color: #fff;
    border-color: #389e6f;
}
.delete-button:hover {
    background-color: #834139; /* Change to green color on hover */
    color: #fff;
    border-color: #703535;
}

/* CSS for the Social Media Section*/
.social-media-section {
    text-align: center;
    background-color: #333;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media-section a {
    text-decoration: none;
    cursor: default;
}

.social-media-section a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s;
}

/* Define custom colors for Font Awesome icons */
.social-media-section a i.fab.fa-facebook {
    color: #1877F2; /* Facebook blue */
}

.social-media-section a i.fab.fa-twitter {
    color: #1DA1F2; /* Twitter blue */
}

.social-media-section a i.fab.fa-instagram {
    color: #E4405F; /* Instagram pink/orange */
}

.social-media-section a i.fab.fa-linkedin {
    color: #0077B5; /* LinkedIn blue */
}



