<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Task Manager</title>
    
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar">
                <div class="profile">
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="search-box">
                    <input type="search" placeholder="Search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
                <ul class="nav-links">
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Due Date</a></li>
                    <li><a href="#">Priority</a></li>
                    <li class="dropdown">
                        <a href="#">Profile</a>
                        <div class="dropdown-content">
                            <a href="#"><i class="fas fa-user"></i> Profile</a>
                            <a href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </div>
                    </li>
                    <li></li> <!--for spacing the profile link-->
                    
                </ul>
            </nav>
        </header>
    
        {% block body %}{% endblock %}
    
        <div class="social-media-section hidden" id="page-footer">
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>