{% extends 'base.html' %}

{% block title %}
<title>Task Manager</title>
{% endblock %}

{% block header %}
<header>
    <nav class="navbar">
        <div class="profile">
            <a href="#">Profile</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block body %}
<div class="content scrollable-div">
    <h1 class="centered-content">Task Master</h1>

    {% if tasks|length < 1 %}
    <h4 class="centered-content">There are no entries, create one below</h4>


    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a class="button delete-button" href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a class="button update-button" href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}    
    </table>
    {% endif %}

    <form action="/" method="POST" class="centered-content">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task" class="button update-button">
    </form>
</div>
{% endblock %}

{% block footer %}
<div class="social-media-section">
    <a href="#">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="#">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
        <i class="fab fa-linkedin"></i>
    </a>
</div>
{% endblock %}